
<div class="card-trip">
  <% @seeker_bookings.each do |booking| %>
    <div class="card-trip-infos">
      <div>
        <h2><%= booking.companion.user.first_name %></h2>
      </div>
      <div>
        <% if booking.accepted == true %>
          <p class="btn btn-flat">Accepted</p>
        <% else %>
          <p class="btn btn-gradient">Pending</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
