
<% @seeker_bookings.each do |booking| %>
<div class="card-trip">
<%= image_tag("https://source.unsplash.com/random/?adult?face?#{rand(1..100)}") %>
  <div class="card-trip-infos">
    <div>
      <h2><%= booking.companion.user.first_name %></h2>
      <p>description goes here</p>
    </div>
    <% if booking.accepted == true %>
      <p class="btn btn-flat">Accepted</p>
    <% else %>
      <p class="btn btn-gradient">Pending</p>
    <% end %>
  </div>
</div>
<% end %>
