

<div class="container col-sm-6">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Your requests</a>
    </li>
    <% if current_user.companion.present? %>
      <li>
      <%= link_to "Received requests", bookings_as_companion_bookings_path,class: "tab-underlined" %>
      </li>
    <% else %>
      <li>
      </li>
    <% end %>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="cards">
    <%= render "seekerbooking" %>
  </div>
</div>
