<div class="container col-sm-6">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Your Bookings</a>
    </li>
    <% if current_user.companion.present? %>
      <li>
        <a href="bookings" class="tab-underlined">Companion Bookings</a>
      </li>
    <% else %>
      <li>
      </li>
    <% end %>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
</div>
<div class="container col-sm-6">
  <div class="cards">
<% if current_user.companion.present? %>
  <div class="container col-sm-6">
    <div class="cards">
      <div>
        <%= render "seekerbooking" %>
      </div>
    </div>
  </div>
  <div class="container col-sm-6">
    <div class="cards">
      <div>
        <%= render "companionbooking" %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="container col-sm-6">
    <div class="cards">
      <div>
      <%= render "seekerbooking" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
