<div class="container col-sm-6">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Seeker Bookings</a>
    </li>
    <% if current_user.companion.present? %>
      <li>
        <a href="" class="tab-underlined">Companion Bookings</a>
      </li>
    <% else %>
      <li>
      </li>
    <% end %>
    <li>
      <a href="#" class="tab-underlined">Conversations</a>
    </li>
  </ul>
</div>
<div class="cards">
  <%= render "seekerbooking" %>
</div>
