<div class="container" style= "width: 800px">
  <div class="card-trip" style= "width: 800px" >
    <div class="card-trip-infos">
      <div>
      <%= simple_form_for [ @companion, @booking ] do |f| %>
      <%= f.input :date, label: 'Enter date', as: :date, html5: true %>
      <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
