<% require 'pry-byebug' %>
<div class="col-12 col-md-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://placekitten.com/286/180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= user.first_name %></h5>
      <%# <% binding.pry %>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
