<div class="jumbotron" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2017/02/Photoshop-Replace-Background-Featured.jpg)">
  <div class="container">
    <h1 class="display-4" style= "color: white;">Rent a Companion</h1>
    <p class="lead" style= "color: white;"> Perfect platform where individuals are able to connect in a hasslefree way on a social basis - It could be dinner, movies, drinks, gaming or even a nice stroll in the park!</p>
    <hr class="my-4">
    <p style= "color: white;">Browse below to see available companions for rent</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">How it works</a>
    </p>
  </div>
</div>
