<% require 'pry-byebug' %>
<div class="col-12 col-md-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://placekitten.com/286/180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= companion.user.first_name %></h5>
      <p class="card-text"><%= companion.description %></p>
      <%# <a href="#" class="btn btn-primary"> Read my profile </a> %>
      <%= link_to 'Read my profile', companion_path(companion) %>

    </div>
  </div>
</div>
