<div class="card-trip">
<%= image_tag("https://source.unsplash.com/random/?headshot?#{rand(1..100)}") %>
  <div class="card-trip-infos">
    <div>
      <h2><%= companion.user.first_name %></h2>
      <p>description goes here</p>
      <p><%= link_to "more details", companion_path(companion)  %></p>
    </div>
    <h2 class="card-trip-pricing">S$<%= companion.price %> /day</h2>
  </div>
</div>
