<% require 'pry-byebug' %>
<div class="col-12 col-md-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= companion.user.first_name %></h5>
      <p class="card-text"><%= companion.description %></p>
      <p class="card-text">$<%= companion.price %> per day</p>
      <%= link_to 'More details', companion_path(companion) %>
    </div>
  </div>
</div>
